[Unit]
Description=systemd-rest testing unit

[Service]
ExecStart=/usr/bin/yes
ExecStop=/bin/kill -s QUIT $MAINPID

[Install]
WantedBy=multi-user.target
